.banner{
    background-image: url('../../Images/Banners/orient-banner.jpg');   
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('../../Images/bulbs/orient/bulb-5.jpg');
}

.card--2 .card__img, .card--2 .card__img--hover {
  background-image: url('../../Images/bulbs/orient/bulb-6.jpg');
}

.card--3 .card__img, .card--3 .card__img--hover {
  background-image: url('../../Images/bulbs/orient/bulb-7.jpg');
}

.card--4 .card__img, .card--4 .card__img--hover {
  background-image: url('../../Images/bulbs/orient/bulb-8.jpg');
}

.card--5 .card__img, .card--5 .card__img--hover {
  background-image: url('../../Images/spot-light/orient/spot-light-5.jpg');
}

.card--6 .card__img, .card--6 .card__img--hover {
  background-image: url('../../Images/spot-light/orient/spot-light-6.jpg');
}

.card--7 .card__img, .card--7 .card__img--hover {
  background-image: url('../../Images/spot-light/orient/spot-light-7.jpg');
}

.card--8 .card__img, .card--8 .card__img--hover {
background-image: url('../../Images/spot-light/orient/spot-light-8.jpg');
}

.card--9 .card__img, .card--9 .card__img--hover {
background-image: url('../../Images/decorative-lights/orient/decorative-lights-5.jpg');
}

.card--10 .card__img, .card--10 .card__img--hover {
background-image: url('../../Images/decorative-lights/orient/decorative-lights-6.jpg');
}

.card--11 .card__img, .card--11 .card__img--hover {
background-image: url('../../Images/decorative-lights/orient/decorative-lights-7.jpg');
}

.card--12 .card__img, .card--12 .card__img--hover {
background-image: url('../../Images/decorative-lights/orient/decorative-lights-8.jpg');
}

.card--13 .card__img, .card--13 .card__img--hover {
  background-image: url('../../Images/smart-lights/orient/smart-light-5.jpg');
  }
  
.card--14 .card__img, .card--14 .card__img--hover {
  background-image: url('../../Images/smart-lights/orient/smart-light-6.jpg');
  }
  
.card--15 .card__img, .card--15 .card__img--hover {
  background-image: url('../../Images/smart-lights/orient/smart-light-7.jpg');
  }

.card--16 .card__img, .card--16 .card__img--hover {
  background-image: url('../../Images/smart-lights/orient/smart-light-8.jpg');
  }